.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1340px;
  margin: 0 auto;
}

.profile-img {
  margin: 10rem auto;
}

.aboutme {
  margin: 15rem auto;
  padding-left: 5rem;
  padding-right: 10rem;
}

.aboutme h1 {
  text-align: center;
}

.aboutme p {
  margin-top: 3.5rem;
  color: var(--text-secondary);
  font-size: 20px;
  font-weight: var(--font-regular);
}
@media screen and (max-width: 1024px) {
  .about-container {
    max-width: 1024px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 5rem 2rem;
  }
  .profile-img {
    margin: 1rem auto;
    padding: 0 auto;
  }
  .profile-img img {
    width: 400px;
    margin: 0 auto;
    padding: 0 auto;
  }
  .aboutme {
    margin: 2rem auto;
    padding: 0 2rem;
  }
}

@media screen and (max-width: 820px) {
  .about-container {
    max-width: 820px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 5rem 2rem;
  }
  .profile-img {
    margin: 1rem auto;
    padding: 0 auto;
  }
  .profile-img img {
    width: 350px;
    margin: 0 auto;
    padding: 0 auto;
  }
  .aboutme {
    margin: 2rem auto;
    padding: 0 2.7rem;
  }
}
@media screen and (max-width: 460px) {
  .about-container {
    max-width: 460px;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 370px 500px;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
  }
  .profile-img {
    margin: 1rem auto;
  }
  .profile-img img {
    width: 300px;
    margin: 0 auto;
  }
  .aboutme {
    margin: 0 auto;
    padding: 0 3rem;
  }
  .aboutme span {
    font-size: 48px !important;
  }
  .aboutme p {
    font-size: 1rem;
  }
}
