.slick-dots li button:before {
  font-size: 1rem !important;
  margin-top: 4rem !important;
  color: var(--color-primary) !important;
  margin-left: 1rem !important;
}

.card-container {
  margin: 0 115px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 4rem !important;
  color: var(--color-primary) !important;
}
