.nav-container {
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  text-align: center;
  max-width: 1340px;
  margin: 0 auto;
}

.nav-brand {
  display: flex;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}

.nav-brand h3:hover {
  color: var(--color-primary);
}

.nav-brand h3 {
  color: var(--text-primary);
  font-weight: var(--font-bold);
  margin-left: 1rem;
  cursor: pointer;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-top: 0.7rem;
}

.nav-menu ul li {
  margin: auto 1.5rem;
  list-style-type: none;
}
.nav-menu ul li a {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 20px;
  font-weight: var(--font-regular);
  transition: ease-in 0.2s;
}

.nav-menu ul li a:hover {
  color: var(--color-primary);
}

.nav-btn {
  background: var(--color-primary) !important;
  border: 0px;
  border-radius: 10px;
  width: 7.2rem;
  height: 3.2rem;
  font-size: 20px;
  font-weight: var(--font-regular);
  transition: ease-in-out 0.4s;
}

.nav-btn:hover {
  background: var(--color-secondary) !important;
  border: 2px solid var(--color-primary);
}
.hamburger {
  display: none;
}

@media screen and (max-width: 460px) {
  .nav-container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .nav-brand {
    margin-top: 1rem;
  }
  .call2action {
    display: none;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .nav-menu {
    display: none;
  }
  .nav-menu ul {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    align-items: center;
    justify-items: center;
    margin: 1rem auto;
    margin-top: 0;
    padding: 0;
  }
  .nav-menu.active {
    display: block;
  }
}
