.references-container {
  margin: 0rem auto;
  margin-bottom: 3rem;
  padding-top: 3rem;
  max-width: 1140px;
  box-sizing: border-box;
}

.ref-card {
  display: grid;
  grid-template-rows: 170px 500px;
  transition: 0.3s;
  background: var(--background-color);
  border-radius: 10px;
  box-shadow: rgba(21, 106, 159, 0.35) 0px 5px 15px;
}

.upper {
  /* padding: 10px auto; */
  display: grid;
  grid-template-columns: 120px 250px;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.upper img {
  margin-left: 1rem;
  width: 100%;
  height: auto;
  border-radius: 100%;
}
.ref-description {
  width: 100%;
  height: 100%;
  text-align: center;
  justify-items: center;
}
.ref-description h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 22px;
  font-weight: var(--font-bold);
}

.ref-description h5 {
  font-size: 20px;
  color: var(--text-secondary);
}
.ref-description p {
  font-size: 15px;
  color: var(--text-secondary);
  font-weight: var(--font-regular);
}

.lower {
  max-width: 320px;
  height: 100%;
  margin: 1rem auto;
}

.lower p {
  margin: 0;
  padding: 0rem 2.1rem;
  font-size: 18px;
  color: var(--color-primary);
}

/* On mouse-over, add a deeper shadow */
.ref-card:hover {
  scale: 1.1;
  border: 3px solid var(--color-primary);
  box-shadow: 0px 0px 0px;
}

/* Add some padding inside the card container */
.ref-container {
  padding: 2px 16px;
  background-color: #ffff;
}

.references-grid {
  margin: 3rem auto;
  max-width: 860px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
}

@media screen and (max-width: 460px) {
  .references-container {
    max-width: 460px;
    margin-bottom: 0;
    padding-bottom: 1rem;
  }
  .references-container span {
    font-size: 32px !important;
  }
  .references-container h3 {
    text-align: center !important;
  }
  .ref-card {
    grid-template-rows: 130px 320px;
    max-width: 330px;
  }
  .references-grid {
    max-width: 350px;
    grid-template-columns: none;
    row-gap: 2rem;
    justify-content: center;
    justify-items: center;
  }
  .upper {
    grid-template-columns: 100px 200px;
  }
  .ref-description h1 {
    font-size: 1.15rem;
  }
  .ref-description h5 {
    font-size: 1rem;
  }
  svg[style] {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 1rem;
  }
}
