.page-container {
  margin: 0 auto;
  /* max-width: 1920px; */
}

.container-home {
  height: 900px;
  background: var(--color-secondary);
}

.container-about {
  height: 980px;
}

.container-skills {
  height: 900px;
  background: var(--color-secondary);
}

.container-projects {
  height: 980px;
}

.container-references {
  height: 900px;
  background: var(--color-secondary);
}

.container-contact {
  height: 900px;
}

.container-footer {
  height: 300px;
  background: var(--color-secondary);
}

@media screen and (max-width: 460px) {
  .container-home {
    height: auto;
    width: 100%;
  }
  .container-about {
    height: auto;
    width: 100%;
  }
}
