.page-container {
  margin: 0 auto;
  /* max-width: 1920px; */
}

.container-home {
  height: 900px;
  background: var(--color-secondary);
}

.container-about {
  height: 980px;
}

.container-skills {
  height: 900px;
  background: var(--color-secondary);
}
